* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  font-family: Times, serif;
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px 4px #00007f;
}

body {
  background-image: url("../img/HalloweenWitch.png"), linear-gradient(0deg, #001e4c, #000206);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.center {
  text-align: center;
}

.container {
  margin: 0px auto;
  width: 90%;
  min-width: 450px;
  max-width: 1000px;
}

.textGlow {
  text-shadow: 0 0 4px lightskyblue, 0 0 8px cyan, 0 0 14px black, 0 0 20px black;
}

.boxGlow {
  box-shadow: 0 0 4px white, 0 0 8px cyan, 0 0 30px black;
}

h1 {
  font-family: "Kaushan Script", Times, serif;
  font-weight: normal;
  text-align: center;
  font-size: 8em;
  margin-bottom: 20px;
}

.navBar {
  display: flex;
  justify-content: center;
}

.navBar ul {
  display: flex;
  list-style-type: none;
  border-radius: 50px;
  background-color: rgba(0,15,30,0.9);
}

.navBar a {
  display: inline-block;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1em;
  white-space: nowrap;
}

.navBar li:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 3px solid white;
  padding-left: 10px;
}

.navBar li:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 3px solid white;
  padding-right: 10px;
}

.navBar a:visited {
  color: white;
}

/*
    FRONTPAGE SPECIFIC CSS
*/

.discord {
  display: block;
  margin: 40px auto;
  box-shadow: 0 0 20px black;
}

/*
    LEADERBOARD SPECIFIC CSS
*/

#gvgTable {
  border-collapse: separate;
  border-spacing: 0px;
  margin: 0px auto;
  border-radius: 20px;
  border: 1px solid white;
}

#gvgTable caption {
  font-weight: bold;
  font-size: 3em;
  padding: 10px 0px;
}

#gvgTable th {
  background-color: rgba(0,38,60,0.9);
  padding: 5px 10px;
  text-align: left;
}

#gvgTable td {
  padding: 5px 10px;
  border-bottom: 1px solid white;
}

#gvgTable tr:last-child td {
  border-bottom: 0px;
}

#gvgTable tr td {
  background-color: rgba(0,15,30,0.9);
}

#gvgTable tr:nth-child(odd) td {
  background-color: rgba(0,38,60,0.9);
}

#gvgTable tr:first-child th:first-child {
  border-top-left-radius: 20px;
}

#gvgTable tr:first-child th:last-child {
  border-top-right-radius: 20px;
}

#gvgTable tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

#gvgTable tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}
