/*  NORMALIZE  */

* {
  margin: 0;
  padding: 0;
}

:root {
  min-height: 100%;
  font-size: 62.5%;

  --tint-color: rgba(31, 93, 143, 0.9);
}

body {
  font-size: 1.6rem;
}

a, input {
  text-decoration: none;
  outline: 0;
  color: white;
}

/*   BODY   */

.container {
  max-width: 90rem;
  width: 90%;
  margin: 0 auto;
}

#contents {
  margin-bottom: 3rem;
}

body {
  background-image: url("img/HalloweenWitch.png"), linear-gradient(black, rgb(20, 20, 60));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;
  font-family: 'Open Sans', sans-serif;
}

.hidden {
  display: none;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}
  
/*   HEADER   */

.banner {
  font-family: 'Kaushan Script', cursive;
  font-size: 9rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 2.5rem;
  color: rgb(255,255,255);
  text-shadow: 0.2rem 0.2rem 0.2rem black;
}

.navList {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 6rem;
}

.navList a {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5rem;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: rgba(20,20,40, 0.9);
  border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
}

a.active {
  background-color: var(--tint-color);
  box-shadow: inset 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.6);
}

.navList li:last-child a {
  padding-right: 2rem;
  border-right: 0.8rem solid white;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.navList li:first-child a {
  padding-left: 2rem;
  border-left: 0.8rem solid white;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

/*************/
/* FRONTPAGE */
/*************/

#frontpage {
  background-color: rgba(20,20,40, 0.95);
  border: 0.1rem solid white;
  border-radius: 1.2rem;
  padding: 1.5rem;
}

#frontpage h1 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
  margin-top: -1.2rem;
}

.flex {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.player {
  margin: 1rem;
  width: 18rem;
  display: grid;
  grid-template-columns: 6rem 12rem;
  grid-gap: 1rem;
  text-align: center;
  margin-top: 1.5rem;
}

.player img {
  grid-row-start: 1;
  grid-row-end: 3;
}

.player h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  margin: -0.4rem 0;
}

.player span {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

.player p {
  font-size: 1.4rem;
}

.player2 {
  margin-left: 3rem;
}

.player3 {
  margin-left: 6rem;
}

/* LAYOUT CONTROLS */

.introduction {
  width: 100%;
}

.discord {
  height: 30rem;
  width: 100%;
  margin-top: 1.5rem;
}

.discord iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (min-width: 650px) {
  .discord {
    width: 25rem;
    height: 50rem;
    margin-top: 0;
    margin-left: 1.5rem;
    float: right;
  }

  .introduction {
    width: calc(100% - 25rem - 1.5rem);
    float: left;
  }
}

/***************/
/* LEADERBOARD */
/***************/

.grid {
  display: grid;
  width: 40rem;
  margin: 0 auto;
  grid-template-columns: 2fr repeat(5, 1fr);
  border: 0.1rem solid white;
  border-radius: 2rem;

  --first-row-color: rgba(20,20,40,0.9);
}

#gridMessage {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  background-color: var(--first-row-color);
}

.filter {
  grid-column-start: 4;
  grid-column-end: 7;
  display: flex;
  align-items: center;
  background-color: var(--first-row-color);
}

#filterLabel {
  text-align: center;
}

#filterCheck {
  margin-left: 0.7rem;
}

.grid button {
  background-color: rgb(43, 79, 177);
  color: white;
  border-width: 0.2rem 0.4rem;
  border-color: rgb(55, 93, 199);
}

.grid button p {
  font-size: 1.1rem;
}

.dataGrid {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-template-columns: 2fr repeat(5, 1fr);

  text-align: center;
}

/* GRID COLORS */

.dataGrid p {
  background-color: rgba(20,20,40,0.9);
}

.dataGrid .oddRow {
  background-color: rgba(30,30,60,0.9);
}

/* BORDER ROUNDING */

#gridMessage {
  border-top-left-radius: 2rem;
  padding-left: 1rem;
}

.filter {
  border-top-right-radius: 2rem;
}

.dataGrid p:last-child {
  border-bottom-right-radius: 2rem;
}

.dataGrid p:nth-last-child(6) {
  border-bottom-left-radius: 2rem;
}