/***************/
/*  NORMALIZE  */
/***************/

* {
  margin: 0;
  padding: 0;
}

:root {
  height: 100%;
  font-size: 62.5%;

  --tint-color: rgb(0, 170, 212);
  --tint-color-alt: rgb(0, 154, 192);
  --background-main: rgba(20,20,40,0.95);
  --background-odd: rgba(25,30,60, 0.95);
  --background-even: rgba(25,40,80, 0.95);
}

body {
  font-size: 1.6rem;
}

a, input {
  text-decoration: none;
  outline: 0;
  color: white;
}

/************/
/*   BODY   */
/************/

.container {
  max-width: 90rem;
  width: 90%;
  margin: 0 auto;
}

#contents {
  margin-bottom: 3rem;
}

body {
  min-height: 100%;
  background: url("img/HalloweenWitch.png"), linear-gradient(rgb(16, 12, 54), rgb(20, 40, 83));
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  background-attachment: fixed;
  /* fixing weird background position issue */
  margin-top: 2rem;

  color: white;
  font-family: 'Open Sans', sans-serif;
}

.banner {
  font-family: 'Kaushan Script', cursive;
  font-size: 12rem;
  font-weight: normal;
  text-align: center;
  margin: -2rem auto 2.5rem auto;
  padding-right: 1.8rem;
  color: rgb(255,255,255);
  text-shadow: 0.3rem 0.3rem 0 var(--tint-color), 
               0.6rem 0.6rem 0.3rem rgba(0,0,0,0.3),
               0 0 2rem var(--tint-color),
               0 0 8rem var(--tint-color);
}

.hidden {
  display: none !important;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}
 
/**************/
/*   HEADER   */
/**************/

.navList {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 2rem;
}

.navList a {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5rem;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: rgb(30,30,60);
  border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
}

a.active {
  background-color: var(--tint-color);
  box-shadow: inset 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.6);
}

.navList li:last-child a {
  padding-right: 2rem;
  border-right: 0.8rem solid white;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.navList li:first-child a {
  padding-left: 2rem;
  border-left: 0.8rem solid white;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

/*************/
/* FRONTPAGE */
/*************/

#frontpage {
  background-color: var(--background-main);
  border: 0.1rem solid white;
  border-radius: 1.2rem;
  padding: 1.5rem;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 30rem;
  grid-gap: 1.5rem;
}

#frontpage h1 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
  margin-top: -1.2rem;
}

.emoji {
  display: block;
  margin: 1.5rem auto;
  width: 100%;
  max-width: 34rem;
}

.player {
  margin: 1rem;
  width: 18rem;
  display: grid;
  grid-template-columns: 6rem 12rem;
  grid-gap: 1rem;
  text-align: center;
  margin-top: 1.5rem;
}

.player img {
  grid-row-start: 1;
  grid-row-end: 3;
}

.player h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  margin: -0.4rem 0;
}

.player span {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

.player p {
  font-size: 1.4rem;
}

.player2 {
  margin-left: 3rem;
}

.player3 {
  margin-left: 6rem;
}

/* LAYOUT CONTROLS */

.introduction {
  width: 100%;
}

.discord {
  height: 100%;
  width: 100%;
}

.discord iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (min-width: 750px) {
  #frontpage {
    grid-template-columns: auto 25rem;
    grid-template-rows: auto;
  }

  .discord {
    width: 25rem;
  }
}

/***************/
/* LEADERBOARD */
/***************/

.grid {
  display: grid;
  width: 40rem;
  margin: 0 auto;
  grid-template-columns: 2fr repeat(5, 1fr);
  border: 0.1rem solid white;
  border-radius: 2rem;
}

#gridMessage {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  background-color: var(--background-main);
}

.filter {
  grid-column-start: 4;
  grid-column-end: 7;
  display: flex;
  align-items: center;
  background-color: var(--background-main);
}

#filterLabel {
  text-align: center;
}

#filterCheck {
  margin-left: 0.7rem;
}

.grid button {
  color: white;
  border-width: 0.2rem 0.4rem;
  background-color: var(--tint-color);
  border-color: var(--tint-color-alt);
}

.grid button p {
  font-size: 1.1rem;
}

.dataGrid {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-template-columns: 2fr repeat(5, 1fr);

  text-align: center;
}

/* GRID COLORS */

.dataGrid p {
  background-color: var(--background-odd);
}

.dataGrid .oddRow {
  background-color: var(--background-even);
}

/* BORDER ROUNDING */

#gridMessage {
  border-top-left-radius: 2rem;
  padding-left: 1rem;
}

.filter {
  border-top-right-radius: 2rem;
}

.dataGrid p:last-child {
  border-bottom-right-radius: 2rem;
}

.dataGrid p:nth-last-child(6) {
  border-bottom-left-radius: 2rem;
}